{% extends 'base.html.twig' %}

{% block title %}BIENVENU CHEZ ICAM!{% endblock %}

{% block body %}
<center>
    <h3 class="text-gray-700 ">
        BIENVENUE DANS L'AGENCE IMMOBILIERE CHEIKH AKHMADOU BAMBA
    </h3>
</center>

<div class="card-group">

    <div class="card">
        <img src="imgs/maison1.jpg" class="card-img-top" alt="my first image picture on Touba's mosque" title="it was wonderfull !">
        <div class="card-body">
            <h5 class="card-title">Dioumaye Touba</h5>
            <p class="card-text">Voici une photo que j'avais pris a juma Tuba il y'a de cela peu longtemps mais elle  m'a permis de faire mon tp de bootsrap aujoud'hui.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    <div class="card">
        <img src="imgs/maison2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    <div class="card">
        <img src="imgs/maison3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

</div>


{% endblock %}
